
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
            position: relative;
            font-family: Arial;
        }

        .bottomright {
            position: absolute;
            bottom: 8px;
            right: 16px;
            font-size: 18px;
        }

        .text-block {
            position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: #8ca3c5;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
</head>
<body>

    <h2>Hello this is the medical portal</h2>
    <p> Here you can easily find a pharmacy near you and buy medicines:</p>

    <div class="container">
        <img src="https://specialist-pharmacy.com/wp-content/uploads/2021/05/specialist-pharmacy-compounding-pharmacy-mobile.jpg" alt="Nature" style="width:100%;">             
    </div>
    <div class="bottomright">Health Is the most important thing, don't neglect it</div>
</body>
</html>
