<!DOCTYPE html>
<html>
<head>
    <style>
        .dropbtn {
            background-color: white;
            color: black;
            padding: 8px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        
        
    </style>
</head>
<body>
  
    <div class="dropdown">
        <button class="dropbtn">Administrator</button>
        <div class="dropdown-content">
            <a asp-area="Administrator" asp-controller="Manufacturer" asp-action="Index">Manufacturer</a>
            <a asp-area="Administrator" asp-controller="Category" asp-action="Index">Category</a>
            <a asp-area="Administrator" asp-controller="Product" asp-action="Index">Products</a>
            <a asp-area="Administrator" asp-controller="Pharmacy" asp-action="Index">Pharmacy</a>
        </div>
    </div>

</body>
</html>


