

<h1>You have successfully placed an order.</h1>
<h2>You will receive a call from our office to confirm the order. Have a nice day!</h2>
<img style=" position: relative;  left: 60px; top: 0px;  z-index: -1;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV_aUZDg8xk5SLTCvHuIlLPKaAhhwT3wG9uQ&usqp=CAU"> 


